<fieldset data-id='credit-card' class="no-border-bottom">

  <div class="field" data-hook="previous_cards">
    <% if previous_cards.any? %>
      <% previous_cards.each do |card| %>
        <label><%= radio_button_tag :card, card.id, card == previous_cards.first %> <%= card.display_number %><br /></label>
      <% end %>
      <label><%= radio_button_tag :card, 'new', false, { id: "card_new#{payment_method.id}" } %> <%= t('spree.use_new_cc') %></label>
    <% else %>
      <input type="hidden" name="card" value="new" />
    <% end %>
  </div>

  <div id="card_form<%= payment_method.id %>" data-hook>
    <%= render 'spree/checkout/payment/authorize_net', payment_method: payment_method, form_id: "new_payment", admin: true %>
  </div>
</fieldset>
